[Unit]
Description=OSC GPIO

[Service]
Type=forking
User=pi
ExecStart=/usr/bin/python -u /home/pi/Documents/rpi_osc_gpio/main.py
WorkingDirectory=/home/pi/Documents/rpi_osc_gpio

[Install]
WantedBy=mutli-user.target