[Unit]
Description=PyDemon Motion ALPR
After=multi-user.target
Requires=network.target
After=network-online.target


[Service]
Type=simple
User = pi
ExecStart=/usr/bin/python /home/pi/rpi_osc_gpio/main.py
WorkingDirectory=/home/pi/rpi_osc_gpio/
Restart=on-abort

[Install]
WantedBy=mutli-user.target